<header>
<%= link_to logo, root_path%>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Sign in", '#'%></li>
    </ul>
  </nav>
</header>
